{{extend 'layout-index.html'}}

<section class="login-block">
<div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center"> Bienvenido a ELD Cosmetic </h2>
           <h3 class="text-center"> Sistema de Gestión Comercial</h3>
            <div class="col-md-4 login-sec">
             <IMG class="text-center" src="{{=URL(c="static/images/", f="eld_cosmetic.png")}}" />
            </div>
<!-- <IMG src="http://127.0.0.1:8000/eld_cosmetic/static/_2.14.6/images/logo_ELD_Cosmetic.png"> --> 
       </div>
        <head>
            <meta http-equiv="Refresh" content="3;{{=URL(c="default",f="index2")}}">
              </head>
		<div class="col-md-8 banner-sec">
             <h3><p>En segundos sera direccionado a la pagina principal......  </p></h3>
            <IMG class="text-center" src="{{=URL(c="static/images/", f="kosiuko.jpg")}}" />
	  </div>
   </div>
</div>
</section>
