{{extend 'layout-carrito.html'}}
<center>
<br /><br /><br />
<h2 align="center"> ¿Confirma venta Por el importe de:<b> "${{=total}}"?</b></h2>
<br />
    <a mp-mode="dftl" href="{{=URL(c="mp",f="index")}}" name="MP-payButton" class="btn btn-success" >Pagar con mercado pago<i class="glyphicon glyphicon-send" ></i></a>
    <a type="cargar" class="btn btn-warning"  href="{{=URL(c="productos",f="carrito")}}" > Volver al listado <i class="glyphicon glyphicon-remove" ></i> </a>
    <a type="cargar" class="btn btn-danger" href="{{=URL(c="productos",f="Cancelar_Venta")}}">  Cancelar Venta <i class="glyphicon glyphicon-remove" ></i></a>


</center>



</div>
