{{extend 'layout-carrito.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{=productos.marca}}</h2>
            <h2>{{=productos.nombre}}.<span class="text-muted">{{=productos.envase}}</span></h2>
              <p class="lead">{{=productos.descripcion}}</p>
            <h1><strong>$ {{=productos.precio}}</strong></h1>
            <br>
            </h1>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="productos",f="carrito")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="productos",f="index")}}">Volver</a>
                </p>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL(c="productos", f="mostrar", args=[productos.id]))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      </hr>
