{{extend 'layout.html'}}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div class="container">
  <div class="row">
  <div class="col-sm-6">
  <div class="alert alert-info" role="alert">
                            <p>Por favor ingrese los datos de su tarjeta aqui.</p>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="control-label" for="username" >Tarjeta</label>

                            <div class="controls">
                                <select classs="form-control" >
                                        <option>cabal</option>
                                        <option>visa</option>
                                        <option>mastercard</option>
                                        <option>american express</option>
                                        <option>shopping</option>
                                </select>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label" for="username" >Nombre del titular de la tarjeta</label>

                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="form-control" value="Lucas Montiel">
                            </div>
                        </div>

                        <!-- Card Number -->
                        <div class="form-group">
                            <label class="control-label" for="card_number">Numero de Tarjeta</label>

                            <div class="controls">
                                <input type="text" id="card_number" name="card_number" placeholder="" class="form-control" value="1234 1234 1234 1234" >
                            </div>
                        </div>
                        <hr/>
                        <!-- Expiry-->
                        <div class="form-group">
                            <label class="control-label" for="expiry_month">Fecha de vencimiento de tarjeta</label>

                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="form-control" name="expiry_month" id="expiry_month" >
                                        <option>Jan (01)</option>
                                        <option value="02">Feb (02)</option>
                                        <option value="03">Mar (03)</option>
                                        <option value="04">Apr (04)</option>
                                        <option value="05">May (05)</option>
                                        <option value="06">June (06)</option>
                                        <option value="07">July (07)</option>
                                        <option value="08">Aug (08)</option>
                                        <option value="09">Sep (09)</option>
                                        <option value="10">Oct (10)</option>
                                        <option value="11">Nov (11)</option>
                                        <option value="12">Dec (12)</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="expiry_year">
                                        <option value="">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- CVV -->
                                <div class="form-group">
                                    <label class="control-label" for="password_confirm">Codigo de seguridad de tres digitos</label>


                                    <input type="password" id="password_confirm"
                                           name="password_confirm" placeholder=""
                                           class="form-control" value="****">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- Submit -->
                                <div class="form-group">
                                    <a class="btn btn-success" href="{{=URL(c="ventas",f="VentasLocalVistaprevia")}}">Finalizar compra</a>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-5">
                                <!-- Space for Logo -->
                            </div>
                        </div>
<a mp-mode="dftl" href="{{=url_boton}}" name="MP-payButton" class="lightblue-M-Ov-ArOn" >Pagar con mercado pago</a>

</div>
    
</div>
    
</div>
