{{extend 'layout.html'}}
<h1>Ventas Local carga</h1>
<form class="form-horizontal" enctype="multipart/form-data" >

<!--{{=BEAUTIFY(response._vars)}}   trae todo lo que esta en el return del controlador -->
   <!-- ------MOSTRAR VENDEDOR ACTUAL ------------------ -->
  <div class="form-group">
    <label for="userlogeado"  class="col-sm-1 control-label">Vendedor: </label>
      <div class="col-sm-2">
           <h1><p method="POST" class="form-control" id="userlogeado" name="first_name" >
          <!--   ubtenemos los nombres de usuarios y los procesamos -->
        {{for userlog in usuario_log:}}
      <!-- mostramos el nombre y apellido del usuario logeado -->
   {{=userlog.first_name}} {{=userlog.last_name}}</p></h1>
        {{pass}}
    </div>
 </div>

   <!-- ------FINAL MOSTRAR VENDEDOR ACTUAL ------------------ -->

<div class="form-group">
    <label for="cliente"  class="col-sm-1 control-label">Cliente Nº: </label>
      <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Campo de texto" value="{{=id_cliente}}"></input>
      </div>

</div>

    </form>
<tr>
     <th></th>
    <th></th>
</tr>

<h4>Seleccion de producto</h4>
<div class="form-group">
    </div>
<form class="form-horizontal" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="campo_tipo" class="col-sm-1 control-label">Codigo barras</label>
          <!-- <div class="col-sm-3">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Ingrese el codigo de producto" > 
            </div> -->
           <div class="col-sm-3">
           <input type= "number" name="id_producto" class="form-control" id="campo_tipo" value ="1234">

           </div>



        <label for="cant" class="col-sm-1 control-label">Cantidad</label>
           <div class="col-sm-2">
               <input type="number" name="cantidad" class="form-control" id="cantidad" placeholder="Ingrese cantidad" value ="1" > 
            </div>
    </div>
<div class="form-group">
        <div class="col-md-3">

             <input type="submit" name="agregar_item" class="btn btn-default" value="AGREGAR ITEM">
        </div>

</form>

<form class="form-horizontal" action="{{=URL(c="ventaslocal", f="confirmar")}}"  enctype="multipart/form-data" method="POST" >
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>Productos Agregados</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Nombre Producto</th>
                <th class="">Marca</th>
                <th class="">Descripcion Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th>IVA</th>
                <!-- <th>Stock Actual</th> -->
                <th>Total</th>
                <th>Opciones</th>
            </tr>

          </thead>
        <tbody>
            {{subtotal = 0}}
            {{for i, item in enumerate(items_venta):}}
              <tr>
                <th scope="row">{{=item["id_producto"]}}</th>
                <td >{{=item["nombre"]}}</td>
                <td >{{=item["marca"]}}</td>
                <td >{{=item["descripcion"]}}</td>
                <td align="center">{{=item["cantidad"]}}</td>
                <td align="center">{{=item["precio"]}}</td>
                <td align="center">{{=item["precio"] * item["cantidad"]}}</td>
                <td align="center">{{=item["precio"] * item["cantidad"] *item["alicuota_iva"]/100.00}}</td>
                <td align="center">{{=item["precio"] * item["cantidad"] + item["precio"] * item["cantidad"] *item["alicuota_iva"]/100.00}}</td>
                {{subtotal = subtotal + (item["precio"] * item["cantidad"] + item["precio"] * item["cantidad"] *item["alicuota_iva"]/100.00) }}
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventaslocal",f="Borrar_Item",vars={"pos":i})}}">Eliminar</a></td>

            </tr>
            {{pass}}
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:</th> <td>{{=subtotal}}</td>
            </tr>

        </tbody>
        </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
          <a type="cargar" class="btn btn-primary" href="{{=URL(c="ventaslocal",f="confirmar")}}">  Continuar <i class="glyphicon glyphicon-send" ></i></a>
          
        </div>
    <a type="cargar" class="btn btn-danger" href="{{=URL(c="ventaslocal",f="CancelarVenta")}}">  Cancelar Venta <i class="glyphicon glyphicon-remove" ></i></a>
    </div>
       
</form>
