{{extend 'layout.html'}}
<h1>REGISTRAR VENTA</h1>
<!------ metodo post para eviar el formulario ingresado a otra vista ------->
<form class="form-horizontal" action="{{=URL(c="ventaslocal",f="VentasLocalCarga")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
            <label for="campo_cliente" class="col-sm-1 control-label">CLIENTE</label>
            <div class="col-sm-2">
               <select class="form-control" id="campo_cliente" name="id_cliente">
                   <!------ recorro todos los campos con un for------->
                   {{for reg_cliente in lista_clientes:}}
                 <!------ el value permite enviar el campo que queremos usar en sessions------->
                   <option value="{{=reg_cliente.nombre}}">{{=reg_cliente.nombre}} - {{=reg_cliente.codigo_cliente}}</option>
                  {{pass}}
                   <!------ finalizamos el for------->
                </select>
            </div>
        </div>
      <!-- ------MOSTRAR VENDEDOR ACTUAL ------------------ -->
  <div class="form-group">
    <label for="userlogeado"  class="col-sm-1 control-label">VENDEDOR ACTUAL:</label>
      <div class="col-sm-2">
           <h1><p method="POST" class="form-control" id="userlogeado" name="first_name" >
          <!--   ubtenemos los nombres de usuarios y los procesamos -->
        {{for userlog in usuario_log:}}
      <!-- mostramos el nombre y apellido del usuario logeado -->
   {{=userlog.first_name}} {{=userlog.last_name}}</p></h1>
        {{pass}}
    </div>
 </div>
    <!-- ------FINAL MOSTRAR VENDEDOR ACTUAL ------------------ -->
    <!------ muestra fecha------->
    <div class="form-group">
            <label class="col-sm-1 control-label">FECHA</label>
            <div class="col-sm-2">
                <input class="form-control" name="fecha" value="{{=fecha_dia}}">
            </div>
        </div>
    <!------ enviamos los datos------->
    <div class="form-group">
        <div class="col-md-3">
         <input type="submit" name="boton_enviar" class="btn btn-default" value="AGREGAR PRODUCTOS">
        </div>
    </div>
</form>
    <!------ Boton que envia a alta de cliente ------->
    <form class="form-horizontal" action="{{=URL(c="altas",f="alta_cliente")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-3">
          <button type="submit" class="btn btn-default">AGREGAR CLIENTE NUEVO</button>
        </div>
        </div>
    </form>
