{{extend 'layout.html'}}

<body>
<h1>
    Planilla de ingreso de productos
</h1>
<div class="col-sm-offset-0 col-sm-12">
    <form class="form-horizontal">
       <div class="form-group">
        <label for="inputEmail3" class="col-sm-1 control-label">codigo</label>
        <div class="col-sm-6"> 
        <input type="nombre" class="form-control" id="autocomplete"value= "{{=session.codigo_producto}}">
        </div>
        </div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">descripcion</label>
    <div class="col-sm-6"> 
       <input type="nombre" class="form-control" id="autocomplete"value= "{{=session.nombre}}">
         
     </div>
</div>   
<div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">marca</label>
    <div class="col-sm-6"> 
       <input type="nombre" class="form-control" id="autocomplete"value= "{{=session.marca}}">
         
     </div>
</div>   
        
 <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">categoria</label>
    <div class="col-sm-6"> 
       <input type="categoria" class="form-control" id="autocomplete1"value= "{{=session.categoria}}">
     </div>
</div>
<div class="form-group">
      <label for="cant" class="col-sm-1 control-label">Cantidad</label>
           <div class="col-sm-2">
               <input type="number" name="cantidad" class="form-control" id="cantidad" value = 1> <!--placeholder="placeholder="Ingrese cantidad"" -->
            </div>
 </div>
        

    
 
 <td><a type="cargar" href="{{=URL(c="altas",f="alta_producto")}}"  class="btn btn-primary" >Alta producto  <i <span class="glyphicon glyphicon-plus-sign"></span> </i></a> </td>
    
 <td><a type="cargar" href="{{=URL(c="compras",f="ComprasProveedoresListados")}}"  class="btn btn-primary" >Listado de  productos  <i <span class="glyphicon glyphicon-list-alt"></span> </i></a> </td>
<td><a type="cargar" href="{{=URL(c="compras",f="ComprasGuardarProducto")}}"  class="btn btn-primary" > guardar   <i <span class="glyphicon glyphicon-ok-sign"</span> </i></a> </td>

       
<td><a type="cargar" href="{{=URL(c="compras",f="ComprasProveedores")}}"  class="btn btn-primary" > Nueva compra  <i <span class="glyphicon glyphicon-ok-sign"</span> </i></a> </td>

  
    
    
</form>
     </div>
</body>
