{{extend 'layout.html'}}
<h2>
    Planilla de alta proveedor
</h2>
<div class="col-sm-offset-0 col-sm-8">
<form class="form-horizontal">
<div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label"> Lista Proveedor</label>  <button type="agregar proveedor" class="btn btn-default">agregar proveedor</button>
    <div class="col-sm-2">
    <select class="form-control">
    <option></option>
    <option>Ravoner</option>
    <option>Sabores y fragancias</option>
    <option>De Aloysio</option>
    </select>

    </div>
      </div>
     <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">Numero Remito</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="25678">
 </div>
    </div>

     <div class="form-group">
    <label for="inputEmail3" class="col-sm-1 control-label">Fecha</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="15/05/2017">
 </div>
    </div>

       <button type="cargar producto" class="btn btn-default">cargar producto</button>

</form>
</div>
