{{extend 'layout.html'}}

<form>
  <div class="form-group">
    <label for="exampleInputcodigo1"> codigo</label>
    <input type="codigo1" class="form-control" id="exampleInputEmail1" placeholder="ingrese el codigo">
  </div>

<form>
  <div class="form-group">
    <label for="exampleInputdescripcion1"> descripción</label>
    <input type="descripcion1" class="form-control" id="exampleInputdescripción1" placeholder="ingrese descripción">
  </div>
<form>
  <div class="form-group">
    <label for="categoria1"> Categoria</label>
    <input type="categoria1" class="form-control" id="categoria1" placeholder="ingrese categoria">
  </div>
<form>
  <div class="form-group">
    <label for="cantidad1"> Cantidad</label>
    <input type="cantidad1" class="form-control" id="cantidad1" placeholder="ingrese cantidad">
  </div
      
 </div>
    </div>

       <button type="cargar " class="btn btn-default">cargar producto</button>
       <button type="cargar " class="btn btn-default">lista de producto</button>
</form>
</div>
