{{extend 'layout.html'}}
<body>
<table class="table table-hover">
          <caption> <h2>
              Productos Agregados</caption>
              </h2>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Cod Producto</th>
                <th>Remito Num</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th>Stock</th>
            </tr>
          </thead>
        <tbody>
              <tr>
                  <td>#</td>
                <td class="">001</td>
                <td>4567</td>
                <td>kosiuko</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>45</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="compras",f="borrar_item",)}}">Eliminar</a></td>
                <!-- <th>IVA</th> -->
                <!-- <th>SubTotal + IVA</th> -->
                <!-- <td>Opciones</td> -->
                
            </tr>
            {{pass}}
        </tbody>
        </table>
<td><a type="cargar" href="{{=URL(c="default",f="index2")}}"  class="btn btn-primary" > Finalizar compra  <i <span class="glyphicon glyphicon-plus-sign"></span> </i></a> </td>
<td><a type="cargar" href="{{=URL(c="compras",f="ComprasProveedoresProducto")}}"  class="btn btn-primary" > cargar productos  <i <span class="glyphicon glyphicon-plus-sign"></span> </i></a> </td>
</body>
