{{extend 'layout.html'}}

<h1><strong>Ventas Local</strong> <small></small></h1>
<form>
<!-- Temporalmente comentado
<div class="form-group">
      <label for="clientes1">Cliente</label>
     <input type="cliente" class="form-control" id="clientes1" value = 0033 >
<span id="helpBlock" class="help-block">Si el cliente no existe, haga clic en el boton nuevo cliente</span>
<a type="cargar" href="{{=URL(c="altas",f="alta_cliente")}}"  class="btn btn-primary" >Nuevo Cliente  <i class="glyphicon glyphicon-menu-right " ></i></a>
</div>   -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

    <div>
<div class="form-group">
     <div class="col-xs-5">
<label for="clientes1">Cliente </label>
<input type="cliente" class="form-control" id="autocomplete" value = Delgado Enrique>
 
<script>
$( "#autocomplete" ).autocomplete({
  source: [ "Perez Enrique", "Pedrino Ricardo", "Persico jose", "Peron juan", "Pepitero alberto ", "Peribebuy adrian", "Primate mono" ]
});
</script>
</div>
</div>
    </div>
    
<div>
<label for="clientes1">Vendedor </label>
<input type="cliente" class="form-control" id="autocomplete" value = Pereyra Ricardo>
 
<script>
$( "#autocomplete" ).autocomplete({
  source: [ "Perez Enrique", "Pedrino Ricardo", "Persico jose", "Peron juan", "Pepitero alberto ", "Peribebuy adrian", "Primate mono" ]
});
</script>

       
</div>

</body>
</html>





<!-- Temporalmente comentado

<div class="form-group">
    <label for="vendedor1">Vendedor</label>
    <input type="vendedor" class="form-control" id="vendedor1" placeholder="Ingrese codigo del vendedor" value = 0022 > 
      <span id="helpBlock" class="help-block">Si no conoce el numero de Empleado, haga clic en el Menu -> Consultas -> Empleados, para buscarlo</span>
</div>
-->                                                                                                                                                            

    <div>

<a type="cargar" href="{{=URL(c="ventas",f="VentasLocalCarga")}}"  class="btn btn-primary" >Continuar  <i class="glyphicon glyphicon-menu-right " ></i></a>

</div>
