{{extend 'layout.html'}}
<h1>VENTAS ONLINE</h1>
{{=BEAUTIFY(response._vars)}}


    <div class="form-group">
        <div class="col-md-3">
            <a type="cargar " class="btn btn-default" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}" >Agregar nuevo producto</a> 
        </div>
    </div>
</form>
<form class="form-horizontal" action="{{=URL(c="ventas", f="confirmar")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>Productos Agregados</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Cod Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <!-- <th>IVA</th> -->
                <!-- <th>SubTotal + IVA</th> -->
                <!-- <th>Opciones</th> -->
            </tr>
          </thead>
        <tbody>
              <tr>
                  <td>#</td>
                <td class="">001</td>
                <td>1</td>
                <td>100</td>
                <td>100</td>
                <!-- <th>IVA</th> -->
                <!-- <th>SubTotal + IVA</th> -->
                <!-- <td>Opciones</td> -->
                
            </tr>
            {{pass}}
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:</th> <td>100</td>
            </tr>
            
        </tbody>
        </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
            <a type="cargar " class="btn btn-default" href="{{=URL(c="ventas",f="VentasOnlinetarjeta")}}"> Finalizar Venta</a>
        </div>
     </div>
</form>
