{{extend 'layout-index.html'}}
<!--<div class="jumbotron">
      <!--<div class="container">-->
        <!--<h2>PERFUMERIA</h2>
        <h1>
             ELD_COSMETICS
          </h1>
          <p>SOMOS UNA EMPRESA CON MAS DE 25 AÑOS DE TRAYECTORIA COMERCIALIZANDO POR MAYOR Y MENOR UNA AMPLIA VARIEDAD DE PERFUMES. </p>
          <div class="container">

          <form class="form-signin">
            <h3 class="form-signin-heading">Para continuar, ingrese su codigo de cliente:</h3>
            <label class="sr-only">Email</label>
            <input type="text" class="form-control" value="codigo de cliente" required autofocus>
            <label class="sr-only">contraseña</label>
            <input type="text" id="inputPassword" class="form-control" value="Contraseña" required>
            <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Recordarme
            </label>
            </div>
            <a class="btn btn-lg btn-primary " href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}" role="button"><strong>Iniciar sesion &raquo;</strong></a>
          </form>

          </div> <!-- /container -->

          <!--<p><a class="btn btn-primary btn-lg" href="{{=URL(c="login",f="Login")}}" role="button"><strong>INGRESAR &raquo;</strong></a></p>-->
          <!--<p>SI AUN NO SE HA REGISTRADO EN EL SISTEMA PUEDE REALIZARLO SIGUIENTE LINK .</p>
          <p><a class="btn btn-primary btn-lg" href="{{=URL(c="altas",f="alta_cliente")}}" role="button"><strong>REGISTRARSE &raquo;</strong></a></p>
      </div>
    </div>-->
<body>
    

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="nokp" class="col-sm-3 control-label">
                            Usuario</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="nokp" placeholder="lucas" required value="lucas">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nopend" class="col-sm-3 control-label">
                            Contraseña</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="nopend" placeholder="******" required value="******">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Recordarme
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a type="submit" class="btn btn-success btn-sm" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">entrar</a>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="panel-footer">
                    No esta Registrado? <a href="http://127.0.0.1:8000/welcome/default/user/register?_next=/welcome/default/index">Registrarse aqui</a></div>
            </div>
        </div>
    </div>
</div>
