{{extend 'layout.html'}}

<div class="jumbotron">
      <div class="container">
        <h1>ELD COSMETICS</h1>
        <p><h2>Bienvenido al sitio de compras online. En este catalogo encontrara nuestra gran variedad de perfumes</h2></p>
        <p><a class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlineHome")}}" role="button">salir &raquo;</a></p>
      </div>
    </div>

    

<div class="row">

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0073.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>PORTSAID, She.</h3>
            <p>
                $ 450
            </p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume1")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0074.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>Ilove47, Rebel.</h3>
            <p>
                $ 450
            </p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume2")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0076.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>STONE, Millenium.</h3>
        <p>$350</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume3")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0077.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>FCB, Messi.</h3>
        <p>$600</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume4")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0078.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>FCB, Mascherano</h3>
        <p>$ 550</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume5")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0079.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>STONE, Danger</h3>
        <p>$ 350</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume6")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0080.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>MOON, Ver</h3>
        <p>$ 400</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume7")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0081.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>HERENCIA, Blue</h3>
        <p>$ 450</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume8")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0082.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>HERENCIA, Original.</h3>
        <p>$ 450</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume9")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0083.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>FCB, Iniesta</h3>
        <p>$ 550</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume10")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0084.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>FCB, Neymar.</h3>
        <p>$ 550</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume11")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0085.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>PORTSAID, Love</h3>
        <p>$ 400</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume12")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0086.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>TASCANI, Skin.</h3>
        <p>$ 450</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume13")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0088.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>STONE, Blue.</h3>
        <p>$ 350</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume14")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0089.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>216MEN, Tendence.</h3>
        <p>$ 500</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume15")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0092.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>KOSIUKO, Simplicity.</h3>
        <p>$ 600</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume16")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0093.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>STONE, Terra.</h3>
        <p>$ 350</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume17")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-2 hero-feature">
    <div class="thumbnail">
       <div class="product-image">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0091.jpg"), _width="100%", _height="100%")}}
       </div>
        <div class="caption">
        <h3>MARKOVA, Be free.</h3>
        <p>$ 550</p>
        <p>
          <a href="{{=URL(c="ventas",f="VentasOnlinePerfume18")}}" class="btn btn-primary" role="button">Ver Descripcion</a>
          <a href="{{=URL(c="ventas",f="VentasOnlineCarga")}}" class="btn btn-danger" role="button">COMPRAR</a>
        </p>
      </div>
    </div>
  </div>
