{{extend 'layout.html'}}
<!-- Standard button -->
<button type="button" class="btn btn-default">MI CUENTA</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-default">PRODUCTOS</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-default">BUSCAR PRODUCTO</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-default">CONTACTO</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-default">AYUDA</button>

<img src="/home/lucas/Imágenes/IMAGENES-ELDCOSMETICS/013.jpg/" class="img-responsive">
