{{extend 'layout-carrito.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">PORTSAID</h2>
            <h2>She, Classic.<span class="text-muted"> 60 ml</span></h2>
              <p class="lead">Una cita con el sabor de una noche de tragos frutados y galanes con jazmines. Es una fragancia floral compuesta por un delicado cóctel de notas frutales de bergamota, mandarina, pera y frambuesa en la salida. Su corazon fusiona lirios del valle, jazmin, iris y glicina con un calido fondo de vainilla, cedro, sandalo y almizcle.</p>
            <h1><strong>$ 400</strong></h1>
            <br>
            </h1>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="ventas",f="VentasOnlineCarga")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Volver</a>
                </p>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0073.jpg"))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      <hr class="featurette-divider">
