{{extend 'layout-carrito.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">KOSIUKO</h2>
            <h2>Simplicity.<span class="text-muted">60 ml</span></h2>
              <p class="lead">Pertenece a la familia olfativa floral y presenta matices afrutados. En él encontrarás una fragancia urbana, vibrante y contemporánea. La aromática bergamota, con su perfil ahumado, agrio y jugoso, marca las primeras impresiones del perfume. Su corazón esencialmente floral anuncia notas de la dulce y ligeramente picante Fresia, de la voluptuosa rosa de damasco y del geranio con sus facetas verdes, rosáceas y vagamente mentoladas. También están presentes notas con aroma de lino recién lavado y secado y el terroso pachuli. Tradición, modernidad y elegancia es el alma de este perfume.</p>
            <h1><strong>$ 600</strong></h1>
            <br>
            </h1>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="ventas",f="VentasOnlineCarga")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Volver</a>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0092.jpg"))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      <hr class="featurette-divider">
