{{extend 'layout.html'}}

{{extend 'layout.html'}}
<div class="right_col" role="main" style="min-height: 1014px;">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                  <h3>ELD_COSMETICS</h3>
              </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <h2 class="bg-primary">
                            <strong>PERFUMES</strong>
                      <hr>
                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
                      <h3 class="prod_title">flavia</h3>
                      <div class="">
                            <h2>perfume de mujer</h2>
                        </h2>
                      </div>
                      <div class="">
                        <div class="product_price">
                              <p class="text-success"> <h2>$ 200</h2> </p>
                        </div>
                      </div>
                      <hr>
                        <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasLocal")}}">COMPRAR</a>
                      </hr>
                      <div class="col-md-7 col-sm-7 col-xs-12">
                              <div class="product-image">
                                  {{=IMG(_src=URL("static","images/013.jpg"), _width="100%", _height="100%")}}
                              </div>
                          </div>
              </div>
            </div>
          </div>
        </div>
