{{extend 'layout.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">HERENCIA</h2>
            <h2>Custom Blue edition.<span class="text-muted">  100 ml</span></h2>
              <p class="lead">Blue es una fragancia aromática con notas de salida de limón y menta, su cuerpo de caracteriza por notas marinas con un fondo de vetiver y cedro.</p>
            <h1><strong>$ 450</strong></h1>
            <br>
            </h1>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="ventas",f="VentasOnlineCarga")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Volver</a>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0081.jpg"))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      <hr class="featurette-divider">
