{{extend 'layout.html'}}

<h1><strong>Ventas Local</strong> <small></small></h1>
<form>
  <div class="form-group">
      <label for="clientes1">Clientes </label>
     <input type="cliente" class="form-control" id="clientes1" placeholder="Ingrese el numero de clientes">
<span id="helpBlock" class="help-block">Si no conoce el numero de cliente, haga clic en el Menu --> Consultas --> Clientes, para buscarlo</span>
  </div>
  
  <div class="form-group">
    <label for="vendedor1">Empleado Vendedor</label>
    <input type="vendedor" class="form-control" id="vendedor1" placeholder="Ingrese codigo del vendedor">
      <span id="helpBlock" class="help-block">Si no conoce el numero de Empleado, haga clic en el Menu --> Consultas --> Empleados, para buscarlo</span>
</div>
      
      <a type="cargar " class="btn btn-default" href="{{=URL(c="ventas",f="VentasLocalCarga")}}" >Continuar</a>  
  <div class="form-group">
    </div>
