{{extend 'layout-carrito.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">STONE</h2>
            <h2>Danger.<span class="text-muted">60 ml</span></h2>
              <p class="lead">Desodorante para hombre en aerosol. Para los que buscan una fragancia particular a cualquier hora.</p>
            <h1><strong>$ 350</strong></h1>
            <br>
            </h1>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="ventas",f="VentasOnlineCarga")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Volver</a>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0079.jpg"))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      <hr class="featurette-divider">
