{{extend 'layout-carrito.html'}}
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">FCB BARCELONA</h2>
            <h2>Messi.<span class="text-muted">60 ml</span></h2>
              <p class="lead">FC Barcelona es una fragancia fresca y floral llena de personalidad y pasión por tu equipo de fútbol favorito. Sus notas aromáticas incluyen toques de cítricos como la mandarina y la naranja amarga, junto a aromas florales como el jazmín y la flor de azahar. Como toque final y elegante añade también sándalo, ámbar y vainilla de una forma exquisita. El resultado será una fragancia deliciosa y distintiva que representará los colores de su equipo con orgullo y distinción.</p>
            <p>
                <h1>
                 <strong>$ 600</strong>
            </h1>
            </p>
          <br>
                <p>
                  <a type="cargar" class="btn btn-danger btn-lg" href="{{=URL(c="ventas",f="VentasOnlineCarga")}}">Comprar</a>
                  <a type="button" class="btn btn-primary btn-lg" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Volver</a>
                </p>
        </div>
        <div class="col-md-5">
          {{=IMG(_src=URL("static/images","IMG-20170517-WA0077.jpg"))}}
           <!--<img class="featurette-image img-responsive center-block" data-src="/home/lucas/web2py/applications/eld_cosmetic/static/images/013.jpg"  _width="100%", _height="100%" -->
        </div>
      </div>

      <hr class="featurette-divider">
