{{extend 'layout-carrito.html'}}

<div class="form-group">
    <div class="col-md-3">
        <a type="cargar" class="btn btn-primary" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">Agregar nuevo producto  <i class="glyphicon glyphicon-floppy-disk" ></i></a>
    </div>
</div>
</form>
<form class="form-horizontal" action="{{=URL(c="ventas", f="confirmar")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>Productos Agregados</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Cod Producto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th>Stock Actual</th>
                <!-- <th>IVA</th> -->
                <!-- <th>SubTotal + IVA</th> -->
                <th>Opciones</th>
            </tr>
          </thead>
        <tbody>
              <tr>
                  <td>#</td>
                <td class="">001</td>
                <td>colonia Messi 100Ml</td>
                <td>1</td>
                <td>100</td>
                <td>100</td>
                <td>35</td>
                <td><a class="btn btn-default" role="button" href="{{=URL(c="ventas",f="Borrar_Item",)}}">Eliminar</a></td>
                <!-- <th>IVA</th> -->
                <!-- <th>SubTotal + IVA</th> -->
                <!-- <td>Opciones</td> -->
                
            </tr>
            {{pass}}
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:</th> <td>100</td>
            </tr>
        </tbody>
        </table>
            <a type="cargar" class="btn btn-danger" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}">  Cancelar Venta <i class="glyphicon glyphicon-remove" ></i></a>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
        <div class="col-sm-6">
            <a mp-mode="dftl" href="{{=url_boton}}" name="MP-payButton" class="lightblue-M-Ov-ArOn" >Pagar con mercado pago</a>
            <!--<a type="cargar " class="btn btn-primary " href="{{=URL(c="ventas",f="VentasOnlinetarjeta")}}"> Finalizar Venta   <i class="glyphicon glyphicon-send" ></i></a>-->
             
              
             </div
        </div>
     </div>
</form>
