{{extend 'layout.html'}}
<div class="jumbotron">
      <!--<div class="container">-->
        <h2>PERFUMERIA</h2>
        <h1>
             ELD_COSMETICS
          </h1>
          <p>SOMOS UNA EMPRESA CON MAS DE 25 AÑOS DE TRAYECTORIA COMERCIALIZANDO POR MAYOR Y MENOR UNA AMPLIA VARIEDAD DE PERFUMES. </p>
          <div class="container">

          <form class="form-signin">
            <h3 class="form-signin-heading">Para continuar, ingrese su codigo de cliente:</h3>
            <label class="sr-only">Email</label>
            <input type="text" class="form-control" value="codigo de cliente" required autofocus>
            <label class="sr-only">contraseña</label>
            <input type="text" id="inputPassword" class="form-control" value="Contraseña" required>
            <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Recordarme
            </label>
            </div>
            <a class="btn btn-lg btn-primary btn-block" href="{{=URL(c="ventas",f="VentasOnlinecatalogo")}}" role="button"><h2>Iniciar sesion &raquo;</h2></a>
          </form>

          </div> <!-- /container -->

          <!--<p><a class="btn btn-primary btn-lg" href="{{=URL(c="login",f="Login")}}" role="button"><strong>INGRESAR &raquo;</strong></a></p>-->
          <p>SI AUN NO SE HA REGISTRADO EN EL SISTEMA PUEDE REALIZARLO SIGUIENTE LINK .</p>
          <p><a class="btn btn-primary btn-lg" href="{{=URL(c="altas",f="alta_cliente")}}" role="button"><strong>REGISTRARSE &raquo;</strong></a></p>
      </div>
    </div>
