{{extend 'layout.html'}} <!-- Obtiene la barra superior con los menues  -->
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Reporte Ventas Local
                    </h2>
                </div>
                <div class="panel-body">
                    <h3>
                        Ventas realizadas en el Local
                    </h3>
                </div>
                    <ul class="list-group">
                    
                    <li class="list-group-item">
                    <h4>Total ventas realizadas (Total:: $1156,1)</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Fecha de Venta</th>
                                <th>Cliente</th>
                                <th>Medio de pago</th>
                                <th>Producto</th>
                                <th>Comprobante Num:</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jueves Nov 12 17:43:13 2014</td>
                                <td>Juarez Gabriel</td>
                                <td>Efectivo</td>
                                <td>Messi 150ml</td>
                                <td>0001</td>
                                <td>356.61</td>
                            </tr>
                            <tr>
                                <td>Viernes Nov 13 12:41:13 2014</td>
                                <td>Perez Diego</td>
                                <td>Efectivo</td>
                                <td>Kosiuko 150ml</td>
                                <td>0002</td>
                                <td>450.00</td>
                            </tr>
                            <tr>
                                <td>Viernes Nov 13 14:43:13 2014</td>
                                <td>Mendoza Marcelo</td>
                                <td>Tarjeta</td>
                                <td>Boos Intense</td>
                                <td>0003</td>
                                <td>350.00</td>
                            </tr>
                        </tbody>
                    </table>
                    </li>
               
                    <li class="list-group-item">
                    <h4></h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    </li>
                    
                 </ul>
            </div>
        </div>
    </div>
</div>
</body>
