{{extend 'layout.html'}} <!-- Obtiene la barra superior con los menues  -->
<h1>LISTADO DE CLIENTES</h1> <!-- Titulo  -->
<input type="button" onclick="history.back()" name="volver atrás" value="volver atrás"> <!-- Boton volver atras  -->
<TABLE width="100%" border="2" cellspacing="5" cellpadding="5" bgcolor="cdcdcd" font-size: = 11px margin= 0  >  <!-- Tabla  -->
    <TR BGCOLOR="#99f"><TH>DNI</TH><TH>NOMBRE</TH><TH>APELLIDO</TH><TH>TELEFONO</TH><TH>LOCALIDAD</TH><TH>Opciones</TH></TR>  <!-- Titulo de los campos -->
    {{for x in dc: }}
    <TR><TD>{{=x.dni}}</TD><TD>{{=x.apellido}}</TD><TD>{{=x.nombre}}</TD><TD>{{=x.telefono}}</TD><TD>{{=x.localidad_cliente}}</TD><TD> <!-- Campos de la tabla que seran consultados -->
            <A href="{{=URL(c='bajas', f='borrar_cliente', args=(x.id, ))}}">BORRAR</A> -  <!-- Permite borrar registros -->
            <A href="{{=URL(c='modificaciones', f='editar_cliente', args=(x.id, ))}}">EDITAR</A> <!-- Permite modificar registros -->
        </TD></TD></TR>
    {{pass}}
<TH> <center BGCOLOR="#99f"> <input type="button" name="Imprimir Reporte" value="Imprimir Reporte" onclick="window.print();">  </center> </TH> <!-- Boton Imprimir  -->
</TABLE>
<input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">  <!-- Boton volver atras  -->
