{{extend 'layout.html'}}  <!-- Obtiene la barra superior con los menues  -->
<h1>Listado completo de proveedores</h1> <!-- Titulo  -->
<input class="btn btn-warning" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">  <!-- Boton volver atras  -->
<TABLE width="100%" border="2" cellspacing="5" cellpadding="5" bgcolor="cdcdcd" font-size: = 11px margin= 0  >  <!-- Tabla  -->
    <TR BGCOLOR="#99f"><TH>CUIT</TH><TH>NOMBRE DE LA EMPRESA</TH><TH>DIRECCION</TH><TH>CALLE NUMERO</TH><TH>LOCALIDAD</TH><TH>TELEFONO</TH><TH>EMAIL</TH><TH>Opciones</TH></TR> <!-- Titulo de los campos -->
    {{for x in dc: }}
    <TR><TD>{{=x.cuit_proveedor}}</TD><TD>{{=x.nombre_empresa}}</TD><TD>{{=x.direccion}}</TD><TD>{{=x.direccion}}</TD><TD>{{=x.localidad}}</TD><TD>{{=x.telefono}}</TD><TD>{{=x.email}}</TD><TD> <!-- Campos de la tabla que seran consultados -->
<A type="button" class="btn btn-danger btn-xs" href="{{=URL(c='bajas', f='borrar_cliente', args=(x.id, ))}}">BORRAR</A> -   <!-- Permite borrar registros -->
<A type="button" class="btn btn-primary btn-xs" href="{{=URL(c='modificaciones', f='editar_proveedor', args=(x.id,))}}">EDITAR</A> <!-- Permite modificar registros -->
        </TD></TD></TR>
    {{pass}}
<TH> <center BGCOLOR="#99f"> <input type="button" class="btn btn-success btn-xs" name="Imprimir Reporte" value="Imprimir Reporte" onclick="window.print();">  </center> </TH> <!-- Boton Imprimir  -->
</TABLE> 
<input type="button" class="btn btn-warning" onclick="history.back()" name="volver atrás" value="volver atrás">  <!-- Boton volver atras  -->
